#### 1. Import pandas library

In [47]:
import pandas as pandas

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [48]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [49]:
conexion = create_engine('mysql+pymysql://root:m0ntreal@localhost/stats')

#### 4. Import the users table

In [ ]:
users = pandas.read_sql_query('SELECT * FROM users', conexion)

#### 5. Rename Id column to userId

In [ ]:
users.rename(columns={'Id':'userId'}, inplace=True)
users.head().transpose()

#### 6. Import the posts table.

In [ ]:
posts = pandas.read_sql_query('SELECT * FROM posts', conexion)
posts.head().transpose()

#### 7. Rename Id column to postId and OwnerUserId to userId

In [ ]:
posts.rename(columns={'Id':'postId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [41]:
users2 = users.filter(['userId','Reputation','Views','UpVotes','DownVotes'], axis=1)
posts2 = posts.filter(['postId','Score','OwnerUserId','ViewCount','CommentCount'], axis=1)
posts2.rename(columns={'OwnerUserId':'userId'}, inplace=True)

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [42]:
merged = users2.merge(posts2,how='right',on='userId')
merged

,userId,Reputation,Views,UpVotes,DownVotes,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,0,NaN,0
1,-1.0,1.0,0.0,5007.0,1920.0,0,NaN,0
2,-1.0,1.0,0.0,5007.0,1920.0,0,NaN,0
3,-1.0,1.0,0.0,5007.0,1920.0,0,NaN,0
4,-1.0,1.0,0.0,5007.0,1920.0,0,NaN,0
...,...,...,...,...,...,...,...,...
91971,NaN,NaN,NaN,NaN,NaN,0,20.0,2
91972,NaN,NaN,NaN,NaN,NaN,0,16.0,1
91973,NaN,NaN,NaN,NaN,NaN,1,14.0,5
91974,NaN,NaN,NaN,NaN,NaN,0,8.0,0
91975,NaN,NaN,NaN,NaN,NaN,0,9.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [43]:
merged.isnull()

,userId,Reputation,Views,UpVotes,DownVotes,Score,ViewCount,CommentCount
0,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
91971,True,True,True,True,True,False,False,False
91972,True,True,True,True,True,False,False,False
91973,True,True,True,True,True,False,False,False
91974,True,True,True,True,True,False,False,False
91975,True,True,True,True,True,False,False,False

In [44]:
nulos = merged.isnull().sum()
nulos

userId           1392
Reputation       1392
Views            1392
UpVotes          1392
DownVotes        1392
Score               0
ViewCount       49055
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [45]:
merged = merged.fillna(0)
merged.head()

,userId,Reputation,Views,UpVotes,DownVotes,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,0,0.0,0
1,-1.0,1.0,0.0,5007.0,1920.0,0,0.0,0
2,-1.0,1.0,0.0,5007.0,1920.0,0,0.0,0
3,-1.0,1.0,0.0,5007.0,1920.0,0,0.0,0
4,-1.0,1.0,0.0,5007.0,1920.0,0,0.0,0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [46]:
merged.dtypes
#CambiarÃ­a los float a int ya que son nÃºmeros enteros.

userId          float64
Reputation      float64
Views           float64
UpVotes         float64
DownVotes       float64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.